*{
    box-sizing: border-box;
}
.container2{
    width: 100%;
    height: 650px;
    
}
.container2 img{
    width: 100%;
    height: 100%;
}
.alluminiheading{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.alluminibox{
 width: 90%;
 min-height: 400px;
 display: grid;
 grid-template-columns: 30% 30% 30%;
 justify-content: space-between;
 margin: 40px auto;
}
.allumini12{
   width: 100%;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.335);
}

.alluminiimg img{
   width: 100%;
   height: auto;
}
.namebox{
 width: 100%;
 height: auto;
 text-align: center;
 margin-top: 30px;
} 
.namebox h3{
    margin-top: 10px;
    font-size: clamp(20px,2vh,40px);
    letter-spacing: 3px; 
   
}
hr{
    margin-top: 50px;
    width: 80%;
    height: 3px;
    background-color: black;
    border: none;
}
@media (max-width:768px){
    .container2{
        height: 345px;
    }
    .container2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .alluminibox{
        width:90%;
        margin: 20px auto;
        grid-template-columns: 90% ;
        row-gap: 20px;
        justify-content: center;
    }
}