<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/aboutstyle.css" >
    <link rel="stylesheet" href="/shared/shared.css" >
    <title>About page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="/script.js"></script>
  </head>
<body>
 <div id="header"></div>
  <main>
    <div class="container2">  
      <div class="textbox">
        <h1><span>A</span>bout Us.</h1>
        <p>We are committed to providing a safe, supportive, and inspiring environment where every student is encouraged to reach their full potential.</p>
      </div>
    </div>
    <div class="aboutbox">
          <div class="aboutimg"><img src="/Assest/logo.png" alt="brain school logo">
          </div>
            <div class="abouttext">
                
                  <h1>About Our School </h1>
                  <p>After 20 years of its wonderful history, the institution was raised to the status of a school in 1st May 2006.  
                          Brain School Of Sciences is committed to act as a promoter of quality education from Play Group to Matric.<br><br>
                          Our school is a place where learning meets character, creativity, and confidence. We are committed to providing a safe,
                          supportive, and inspiring environment where every student is encouraged to reach their full potential.<br><br>
                          We have  designed our syllabus and courses to prepare the young minds for productive careers.
                  </p>
            
            </div>
     </div>
     <section class="leadership">
      <div class="leadershipbox">
      <h3>The People Behind Our Vision</h3>
        <p>"Our school is guided by a strong vision of providing quality 
          education and creating an environment where every student can 
          learn, grow, and succeed. Our directors are committed to 
          academic excellence, character development, and innovation.
       With dedication and thoughtful leadership, they work closely with
      teachers, students, and parents to continuously improve the learning experience.
       Their goal is to inspire young minds, develop confident individuals, 
       and prepare students for a successful future." </p>
      </div>
        </section>
    
 <div class="directorbox">
    <div class="director">
      <div class="directorimg"><img src="/Assest/director1.png" alt="director pic"> </div> 
    <div class="name">
          <h3>Malik Abbas Ahmed </h3>
          <p>Managing Director</p>
        </div>
    </div>

    <div class="director">
      <div class="directorimg"><img src="/Assest/director2.png" alt="director pic"></div>
    <div class="name"><h3>Saif  Ullah Butt</h3>
      <p>Executive Director</p>
    </div>
    </div>     
 </div>
  </main>
  
 <div id="footer"></div>
</body>
</html>