<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/aboutstyle.css" >
    <link rel="stylesheet" href="/shared/shared.css" >
    <title>About page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="/script.js"></script>
  </head>
<body>
 <div id="header"></div>
  <main>
    <div class="container2">  <img src="/Assest/aboutimage.jpg" alt="about img">
    </div>
    <div class="aboutbox">
      <div class="aboutimg"><img src="/Assest/logo.png" alt="brain school logo">
      </div>
            <div class="abouttext">
               <h1>About Our School </h1>
                <p>After 20 years of its wonderful history, the institution was raised to the status of a school in 1st May 2006.  
                        Brain School Of Sciences is committed to act as a promoter of quality education from Play Group to Matric.<br><br>
                        Our school is a place where learning meets character, creativity, and confidence. We are committed to providing a safe,
                        supportive, and inspiring environment where every student is encouraged to reach their full potential.<br><br>
                        We have  designed our syllabus and courses to prepare the young minds for productive careers.
                </p>
            </div>
     </div>
  </main>
  <hr>
 <div id="footer"></div>
</body>
</html>