<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/allumini.css" >
    <link rel="stylesheet" href="/shared/shared.css" >
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="/script.js"></script>
  </head>
<body>
  <div id="header"></div>
  <main>
    <div class="hero">
       <div class="hero-text">
        <h2>From <span>BrainSchool</span> to a World of Opportunities</h2>
        <p>“Every successful journey begins with a strong foundation. At BrainSchool, 
            our students are encouraged to dream big, develop their abilities, 
            and prepare themselves for the challenges of tomorrow. Today, our 
            alumni are pursuing higher education, building successful careers, 
            and contributing to society in meaningful ways. Their stories inspire our current students
             to believe in their potential and create a future of their own.”</p>
    </div>
    </div>
    <div class="alluminiheading">
        <h1>Our Alumni</h1>
    </div>
    <div class="alluminibox">
        <div class="allumini12">
                <div class="alluminiimg"><img src="/Assest/allumini1.png" alt=""></div>
                <div class="namebox">
                    <h4>Dr.Zaigham Abbas</h4>
                    <h4>Doctor</h4>
                </div>
                
                </div>
                <div class="allumini12">
                    <div class="alluminiimg"><img src="/Assest/allumini2.png" alt=""></div>
                    <div class="namebox">
                    <h4>Dr.Guzel Umer</h4>
                    <h4>Doctor</h4>
                    </div>
                </div>
            <div class="allumini12">
                <div class="alluminiimg">
                    <img src="/Assest/allumini3.png" alt="">
                </div>
            <div class="namebox">
                <h4>Faizan Azam</h4>
                <h4>Business Man</h4>
            </div>
            </div>
      </div>
    </div>
  </main>

   <div id="footer"></div>
</body>
</html>