<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/style/gallery.css" >
    <link rel="stylesheet" href="/shared/shared.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
   <script src="/script.js"></script>
    <title>gallery page</title>
</head>
<body>
    <header>
        <div id="header"></div>
    </header>
 
 <main>
 <div class="container2">
    <img src="/Assest/gallery.png" alt="">
 </div>
 <hr>
 <div class="dicheading">
    <h1>Directors</h1>
 </div>
 <div class="directorbox">
    <div class="director"><img src="/Assest/director1.png" alt="director pic">
        <h3>Malik Abbas Ahmed </h3>
    </div>
    <div class="director"><img src="/Assest/director2.png" alt="director pic">
    <h3>Saif  Ullah Butt</h3></div>
 </div>
 <hr>
 <div class="schoolheading">
    <h1>Our Learning Environment</h1>
 </div>
 <!--<div class="schoolbox">
    <div class="schoolitem"><img src="/Assest/schoolpic1.png" alt=""></div>
    <div class="schoolitem"><img src="/Assest/schoolpic2png.jpg" alt=""></div>
    <div class="schoolitem"><img src="/Assest/biolab.png" alt=""></div>
    <div class="schoolitem"><img src="/Assest/biolab2.png" alt=""></div>
    <div class="schoolitem"><img src="/Assest/computerlabpic.png" alt=""></div>
    <div class="schoolitem"><img src="/Assest/officepic.png" alt=""></div>
    <div class="schoolitem"><img src="/Assest/prayerarear.png" alt=""></div>
    <div class="schoolitem"><img src="/Assest/canteen.png" alt=""></div>
 </div>-->
 <div class="slider">

    <div class="slides">
        <img src="/Assest/schoolpic1.png" alt="">
    <img src="/Assest/schoolpic2png.jpg" alt="">
    <img src="/Assest/biolab.png" alt="">
    <img src="/Assest/biolab2.png" alt="">
    <img src="/Assest/computerlabpic.png" alt="">
    <img src="/Assest/officepic.png" alt="">
    <img src="/Assest/prayerarear.png" alt="">
    <img src="/Assest/canteen.png" alt="">
     <img src="/Assest/schoolpic1.png" alt="">
    </div>

    <button class="prev">❮</button>
    <button class="next">❯</button>

</div>
 <hr>
  <div class="awardheading">
    <h1>Awards & Achievements</h1>
 </div>
 <div class="awardbox">
            <div class="award"><img src="/Assest/award1.png" alt="director pic">
            </div>
            <div class="award"><img src="/Assest/award.png" alt="director pic">
        </div>
 </div>
 <hr>
 <div class="cultureheading">
    <h1>Culture Day</h1>
 </div>
 <div class="culturebox">
            <div class="culture"><img src="/Assest/cultureday.png" alt="director pic">
            </div>
            <div class="culture"><img src="/Assest/cultureday2.png" alt="director pic">
                </div>
 </div>
 </main>
 <hr>
 <footer><div id="footer"></div></footer>
</body>
</html>