<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css" >
   <link rel="stylesheet" href="/reload/shared.css" >
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="/script.js"></script>
  </head>
<body>
 <div id="header"></div>
  <main>
    <div class="container2">
       <img src="/Assest/logo.png">
    </div>
  </main>
</body>
</html>