<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/media.css" >
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="/script.js"></script>
  </head>
<body>
  <header class="header">
        <div class="container">
        <div class="logo">  <img src="/Assest/logo.png" >   </div>
        <div class="text"><h2>Brain School System</h2></div>
        <div class="menu">
            <ul>
                <li><a href="/components/home.html" >Home</a></li>
                <li><a href="/components/About.html" >About</a></li>
                <li><a href="/components/mediacontact.html" >Media Contacts</a></li>
                <li><a href="/components/brainallumini.html" >Brain Allumini</a></li>
                <li><a href="/components/gallery.html" >Gallery</a></li>
                <li><a href="/components/vedio.html">Vedio</a></li>
                <li class="drop " ><a href="/components/result.html" >Result <i class="fa-solid fa-chevron-down icon"></i></a>
                <div class="dropdown">
                    <ul>
                    <li><a href="" class="no-active">Boys</a></li>
                    <li><a href="" class="no-active">Girls</a></li>
                    </ul>
                 </div>
                </li>
                  <li class="drop1 " ><a href="/components/more.html" class="no-active">More<i class="fa-solid fa-chevron-down icon"></i> </a>
                <div class="dropdown1">
                    <ul>
                    <li><a href="" class="no-active">New & Updates</a></li>
                    <li><a href=""class="no-active">Apply Admission</a></li>
                    <li><a href="" class="no-active">Study Power</a></li>
                    <li><a href="" class="no-active">Jobs</a></li>
                    </ul>
                 </div>
                </li>

                
            </ul>
        </div>
        <div class="search">
            
        </div>
   </div>
  </header>
  <main>
    <div class="container2">
       <img src="/Assest/media.png">
    </div>
  <div class="contact">
    <div class="contact12">
        <h2>Al-Rehmat Campus</h2>
        <ul>
          <li>03268282324</li>
          <li>03268282325</li>
          <li>03268282326</li>
        </ul>
    </div>
    <div class="contact12">
        <h2>Kids & Boys Campus </h2>
        <ul>
          <li>03268282324</li>
          <li>03268282325</li>
          <li>03268282326</li>
        </ul>
    </div>
    <div class="contact12">
         <h2>Jinnah Campus </h2>
        <ul>
          <li>03268282321</li>
          <li>03268282322</li>
          <li>03268282334</li>
        </ul>
    </div>
    <div class="contact4">
        <h2>Fatima Campus  </h2>
        <ul>
          <li>03268282326</li>
        </ul>
    </div>
    <div class="contact5">
         <h2>Sakina Campus  </h2>
        <ul>
          <li>03268282332</li>
        </ul>
    </div>
    <div class="contact6">
        <h2>Khadija Campus  </h2>
        <ul>
          <li>03268282330</li>
        </ul>
    </div>
    <div class="contact7">
        <h2>Daska City Campus </h2>
        <ul>
          <li>03268282325</li>
        </ul>
    </div>
    <div class="contact7">
        <h2>Naseem Campus </h2>
        <ul>
          <li>03268282331</li>
        </ul>
    </div>
  </div>
  </main>
</body>
</html>