<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/media.css" >
    <link rel="stylesheet" href="/shared/shared.css" >
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="/script.js"></script>
  </head>
<body>
 <div id="header"></div>
  <main>
    <div class="container2">
       <img src="/Assest/media.png">
    </div>
    <div class="headingcontact"><h1>CAMPUSES CONTACTS</h1></div>
  <div class="contact">
    <div class="contact12">
        <h2>Al-Rehmat Campus</h2>
        <ul>
          <li>03268282324</li>
          <li>03268282325</li>
          <li>03268282326</li>
        </ul>
    </div>
    <div class="contact12">
        <h2>Kids & Boys Campus </h2>
        <ul>
          <li>03268282324</li>
          <li>03268282325</li>
          <li>03268282326</li>
        </ul>
    </div>
    <div class="contact12">
         <h2>Jinnah Campus </h2>
        <ul>
          <li>03268282321</li>
          <li>03268282322</li>
          <li>03268282334</li>
        </ul>
    </div>
    <div class="contact13">
        <h2>Fatima Campus  </h2>
        <ul>
          <li>03268282326</li>
        </ul>
    </div>
    <div class="contact13">
         <h2>Sakina Campus  </h2>
        <ul>
          <li>03268282332</li>
        </ul>
    </div>
    <div class="contact13">
        <h2>Khadija Campus  </h2>
        <ul>
          <li>03268282330</li>
        </ul>
    </div>
    <div class="contact13">
        <h2>Daska City Campus </h2>
        <ul>
          <li>03268282325</li>
        </ul>
    </div>
    <div class="contact13">
        <h2>Naseem Campus </h2>
        <ul>
          <li>03268282331</li>
        </ul>
    </div>
  </div>
  <hr>
  <div class="socialheading"><h1>SOCIAL MEDIA</h1></div>
  <div class="socialbox">
    <div class="facebook">
        <img src="/Assest/facebook-logo2.jpg" alt="facebook logo">
        <a href="https://www.facebook.com/dskbrain?rdid=IPNQMEunXkF4ZX8T&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1BxfqgjV1E%2F#">Follow Now</a>
    </div>
    <div class="whatsapp">
        <img src="/Assest/whatapp-logo.png" alt="whatsapp logo">
        <a>Contact Us</a>
    </div>
    <div class="youtube">
        <img src="/Assest/youtube-logo.png" alt="youtube logo">
       <a href="https://www.youtube.com/@BrainSchool-401">Subscribe Now</a>
    </div>
    <div class="instagram">
        <img src="/Assest/instagram-logo.jpg" alt="instagram logo">
        <a href="https://www.facebook.com/dskbrain?rdid=YewnbeB6l1j0ovg8&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1BxfqgjV1E%2F#">Follow Now</a>
    </div>
  </div>
  <hr>
  </main>
  <div id="footer"></div>
</body>
</html>